
.prev{
    position: relative;
    top: 300px;
    width: 30px;
    height: 60px;
    background: #0806cb;
    cursor: pointer;
    z-index: 1;
    left:1%;
}

.next{
    position: relative;
    top: 300px;
    width: 30px;
    height: 60px;
    background: #0806cb;
    cursor: pointer;
    z-index: 1;
    left: 95%;
}





.slide{
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    opacity: 0;
    transition-duration: 1s;

}

.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.2);
}

.slider img {
    border-radius: 20px;
    width: 1000px;
    height: 500px;

}

.navigationButton {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #0806cb;
    align-items: center;
    border: 1px solid;
    border-radius: 50%;
    margin: 5px;
    top: 50px;
}

.navigation{
    text-align: center;
    margin-top: 50px;
}

.text{
    position: relative;
    text-align: center;
    background-color: darkslategrey;
    /*opacity: 0.4;*/
    color: orangered;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -100px;

}

.news{
    font-size: 0;
}

.text:hover .news, .text:hover{
    font-size: 20px;
    transition: 1s;
    transform: translateY(-40%);
}
